*.class
*.lock
*.DS_Store
*.swp
*.iml
*.idea
*.classpath
.svn*
*.properties
*/classes/*
*/target/*
log/
target/
*.project
*.settings/
JBox2D/jbox2d-serialization/
JBox2D/jbox2d-testbed/src/main/java/org/jbox2d/testbed/framework/CopyOfTestbedTest.java

